@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap");
* {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0; }

h1 {
  font-style: italic;
  font-family: "Nunito", sans-serif; }

h1, h2 {
  font-weight: 500; }

h3, p, a {
  font-weight: 400;
  font-family: "Nunito", sans-serif; }

.price {
  color: #F1901D;
  font-weight: 500; }

.boton {
  border-radius: 14px; }
  .boton:hover {
    transform: scale(1.05, 1.05); }

.botonPromo:hover, .boton__form:hover {
  transform: scale(1.05, 1.05);
  cursor: pointer;
  background-image: linear-gradient(#1A1919, #363333); }

.boton__form {
  width: 35%;
  margin: 0 4%;
  border-radius: 5px;
  border: 0; }

.bg-grey {
  background-image: linear-gradient(#363333, #1A1919); }

.carrito {
  position: fixed;
  right: 10px;
  top: 140px;
  z-index: 1; }

.bg-nav {
  background-color: #1A1919; }
  .bg-nav li:hover {
    transform: translateY(-6px); }
  @media (max-width: 480px) {
    .bg-nav #logo {
      width: 180px; } }
  .bg-nav #logo:hover {
    transform: scale(1.11, 1.11); }

@media (max-width: 991px) {
  #carousel {
    height: 40vh; } }

@media (min-width: 992px) {
  #carousel {
    height: 65vh; } }

@media (min-width: 320px) {
  #menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "main" "footer"; }
    #menu .menu {
      background-image: url("../img/fondosushimobile.webp");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      grid-area: main; }
      #menu .menu .menu__total {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex start;
        flex-wrap: nowrap;
        padding-top: 2%; }
        #menu .menu .menu__total .menu__texto {
          margin: 5% auto; }
          #menu .menu .menu__total .menu__texto #menu__titulo {
            margin-bottom: 5%;
            text-align: center;
            font-size: 45px;
            font-family: "Roboto", sans-serif;
            font-style: normal; }
          #menu .menu .menu__total .menu__texto h3 {
            margin-top: 10%; }
        #menu .menu .menu__total .sushi {
          margin-top: 0; }
          #menu .menu .menu__total .sushi img {
            margin-top: 10px; } }

@media (min-width: 1200px) {
  #menu .menu {
    background-image: url("../img/fondosushi.webp");
    background-size: cover;
    background-repeat: no-repeat; }
    #menu .menu .menu__total {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: nowrap;
      width: 92vw;
      padding-top: 4%;
      padding-bottom: 4%; }
      #menu .menu .menu__total .menu__texto {
        margin: 0% 5%; }
        #menu .menu .menu__total .menu__texto #menu__titulo {
          font-size: 60px;
          margin-bottom: 10%;
          margin-left: 95%; }
        #menu .menu .menu__total .menu__texto table {
          margin-bottom: 20%; }
      #menu .menu .menu__total .sushi {
        padding-top: 8%; }
        #menu .menu .menu__total .sushi .menu__boton {
          margin-left: -100%; } }

@media (min-width: 320px) {
  .locales {
    background-image: url("../img/local3.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .locales div {
      margin: 4% 0;
      line-height: 2em; }
    .locales h2, .locales ul li {
      margin-bottom: 2%;
      list-style: none; }
    .locales div iframe {
      width: 280px;
      height: 300px;
      border: 0px; } }

@media (min-width: 1200px) {
  .locales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .locales #localesTitulo {
      width: 100vw;
      margin: 30px auto; }
    .locales div iframe {
      width: 400px;
      height: 300px;
      border: 0px; } }

@media (min-width: 320px) {
  #eventos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "main" "aside" "footer"; }
    #eventos .navegacion {
      grid-area: nav; }
    #eventos #aside {
      grid-area: aside; }
      #eventos #aside div img {
        width: 100%; }
    #eventos .eventos {
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 4% 0; }
      #eventos .eventos div p {
        padding: 2%; }
      #eventos .eventos form fieldset {
        margin-top: 2%;
        text-align: left;
        padding: 6px;
        box-sizing: border-box;
        line-height: 1.8; }
        #eventos .eventos form fieldset input, #eventos .eventos form fieldset textarea, #eventos .eventos form fieldset select, #eventos .eventos form fieldset option {
          color: #1A1919; }
        #eventos .eventos form fieldset input, #eventos .eventos form fieldset select, #eventos .eventos form fieldset option:hover {
          cursor: pointer; }
        #eventos .eventos form fieldset #botones__form {
          text-align: center; }
          #eventos .eventos form fieldset #botones__form .boton__form {
            color: whitesmoke; } }

@media (min-width: 1200px) {
  #eventos {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav" "main aside" "footer footer"; }
    #eventos .eventos {
      margin: 0; }
      #eventos .eventos h2 {
        font-size: 50px; }
      #eventos .eventos div p {
        padding: 0.5%; } }

@media (min-width: 320px) {
  #carrito {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav" "main" "aside" "footer"; }
    #carrito .navegacion {
      grid-area: nav; }
    #carrito #desplegables {
      grid-area: main;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center; }
      #carrito #desplegables .menuCategoria {
        width: 100%; }
      #carrito #desplegables .btn-carrito {
        background-color: #F1901D;
        border: 1px solid #1A1919;
        width: 100%;
        font-weight: 500; }
      #carrito #desplegables .imgProducto {
        width: 75%;
        height: 200px; }
    #carrito #aside {
      width: 100%;
      grid-area: aside; }
      #carrito #aside div {
        min-height: 350px;
        background-color: whitesmoke;
        text-align: center; }
        #carrito #aside div h4 {
          color: #1A1919;
          text-decoration: underline; }
        #carrito #aside div ul {
          text-align: start; }
          #carrito #aside div ul li {
            color: #1A1919;
            list-style: none; }
        #carrito #aside div h5 {
          text-align: center; }
        #carrito #aside div form, #carrito #aside div label, #carrito #aside div input, #carrito #aside div p {
          color: #1A1919; }
        #carrito #aside div button {
          border-radius: 5px;
          padding: 0 5px; }
    #carrito .overlay {
      background-color: rgba(0, 0, 0, 0.8);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #carrito .overlay legend, #carrito .overlay label, #carrito .overlay input, #carrito .overlay p {
        color: #1A1919; }
      #carrito .overlay .checkbox {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        #carrito .overlay .checkbox div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 5px 15px;
          width: 28%; }
          #carrito .overlay .checkbox div .input {
            width: 20px;
            border-radius: 50%; }
    #carrito .overlay.active {
      visibility: visible; }
    #carrito .popup {
      background-color: whitesmoke;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
      padding: 10px 15px;
      border-radius: 10px;
      text-align: center;
      opacity: 0;
      transition: 1.4s ease all;
      transform: scale(0.7); }
      #carrito .popup h5 {
        color: #1A1919; }
      #carrito .popup .btn-cerrar-popup {
        font-weight: 500;
        font-size: 22px;
        text-decoration: none;
        color: #BBBBBB;
        transition: .3s ease all;
        display: block;
        text-align: right; }
      #carrito .popup .btn-cerrar-popup:hover {
        color: #1A1919; }
      #carrito .popup .input {
        width: 100%;
        margin-bottom: 20px;
        height: 52px;
        line-height: 52px;
        font-size: 18px;
        text-align: center;
        border: 1px solid #BBBBBB; }
      #carrito .popup .btn-submit {
        padding: 0 20px;
        height: 40px;
        background-color: #F1901D;
        font-weight: 500;
        border-radius: 5px;
        border: none;
        transition: .3s ease all; }
      #carrito .popup .btn-submit:hover {
        background-color: rgba(241, 144, 29, 0.8); }
      #carrito .popup .ocultar {
        display: none; }
    #carrito .popup.active {
      opacity: 1;
      transform: scale(1); } }

@media (min-width: 992px) {
  #carrito {
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav" "main aside" "footer footer"; }
    #carrito #carrito {
      height: 100vh; }
    #carrito #desplegables {
      background-image: url(../img/fondocarro.jpg);
      background-size: cover;
      min-height: 500px;
      align-items: stretch; }
      #carrito #desplegables .producto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; }
      #carrito #desplegables .imgProducto {
        width: 218px;
        height: 200px; }
      #carrito #desplegables .mas:hover {
        transform: scale(1.05, 1.05);
        cursor: pointer; }
    #carrito #aside {
      grid-area: aside;
      z-index: 1; }
      #carrito #aside div {
        overflow-y: scroll;
        position: fixed;
        left: 65%;
        top: 125px;
        min-height: 500px;
        max-height: 700px;
        background-color: whitesmoke;
        box-sizing: border-box;
        width: 35vw; }
        #carrito #aside div h4 {
          font-weight: 500;
          text-align: center;
          width: 100%;
          box-sizing: border-box;
          margin-top: 10px; }
        #carrito #aside div h5 a {
          text-decoration: none;
          color: red; }
    #carrito .popup {
      width: 500px; } }

footer {
  grid-area: footer;
  background-color: #1A1919;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 14px;
  padding-top: 10px; }
  footer .direcciones {
    text-align: center;
    margin-top: 2%; }
  footer .emails {
    text-align: center;
    margin: 5% 0; }
    footer .emails #escribinos {
      margin-bottom: 2%; }

.iconos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  text-align: center; }

@media (min-width: 1200px) {
  footer {
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    padding-top: 0px; }
    footer .direcciones {
      text-align: left;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-grow: 0.3;
      padding-left: 15px;
      line-height: 0.8; }
    footer .emails {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 0;
      margin-left: 44px;
      box-sizing: border-box;
      flex-grow: 2; }
    footer .iconos {
      width: auto;
      margin-bottom: 0;
      align-items: center;
      box-sizing: border-box;
      flex-grow: 1.2; } }

@media (min-width: 280px) {
  .error {
    background-image: url("https://acegif.com/wp-content/gifs/fish-96.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    text-align: center;
    height: 100%; }
    .error .texto {
      margin-top: 30px; }
      .error .texto h1 {
        font-weight: 500; }
      .error .texto h2 {
        font-style: italic;
        font-family: "Nunito", sans-serif; }
    .error .enlace {
      margin: 400px auto 0 auto;
      text-align: center; }
      .error .enlace a {
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        color: whitesmoke; } }

@media (min-width: 1200px) {
  .error .enlace {
    margin: 30% auto 0 auto; }
    .error .enlace a {
      font-size: 2em; } }
