#carrito{
    @media (min-width: 320px){
		display: grid;
		grid-template-columns:1fr ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav"
		"main"
		"aside"
		"footer";
		.navegacion {grid-area: nav
		}
		#desplegables {grid-area: main;
			@include d-flex (column, flex-start, center);
			text-align: center;
			.menuCategoria { width: 100%;
			}								
			.btn-carrito {background-color: map-get($map:$paleta, $key:"keyColor");
				border: 1px solid map-get($map:$paleta, $key:"black");
				width: 100%;
			font-weight: $bold;
			}
			.imgProducto {width: 75%;
				height: 200px;
			}
									
			}
					
        #aside {
			width: 100%;
			grid-area: aside;
			div {
				min-height: 350px;
				background-color: map-get($map:$paleta, $key:"white");
				text-align: center;
				h4 {color: map-get($map:$paleta, $key:"black");
					text-decoration: underline;
				}
				ul{text-align: start;
					li{color: map-get($map:$paleta, $key:"black");
					list-style: none;}
				}
				h5 {text-align: center;
				}
				form, label, input, p {color: map-get($map:$paleta, $key:"black")
				}
				button {
					border-radius: 5px;
					padding: 0 5px;
				}
				
			}	
        }
		.overlay {
			background-color: rgba(0,0,0,.8);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
			visibility: hidden;
			@include d-flex (column, center, center);
			legend, label, input, p{
				color: map-get($map:$paleta, $key:"black"); 
			}
			.checkbox{
				font-size: $textSm;
				@include d-flex (row, center, center);
				div {@include d-flex (column, center, center);
					margin: 5px 15px;
					width: 28%;
					.input{width: 20px;
						border-radius: 50%;
					}
				}


			}		
		}

		.overlay.active {
			visibility: visible;
		}

		.popup {
			background-color: map-get($map:$paleta, $key:"white");
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,.8);
			padding: 10px 15px;
			border-radius: 10px;
			text-align: center;
			opacity: 0;
			transition: 1.4s ease all;
			transform: scale(0.7);
			h5 {color: map-get($map:$paleta, $key:"black");
			}	
			
			.btn-cerrar-popup{
				font-weight: $bold;
				font-size: 22px;
				text-decoration: none;
				color: #BBBBBB;
				transition: .3s ease all;
				display: block;
				text-align: right;
			}		
			.btn-cerrar-popup:hover {
				color: map-get($map:$paleta, $key:"black")
			}

			.input {
				width: 100%;
				margin-bottom: 20px;
				height: 52px;
				line-height: 52px;
				font-size: $textMd;
				text-align: center;
				border: 1px solid #BBBBBB;
			}

			.btn-submit {
				padding: 0 20px;
				height: 40px;
				background-color: map-get($map:$paleta, $key:keyColor );
				font-weight: $bold;
				border-radius: 5px;
				border: none;
				transition: .3s ease all;
			}
			.btn-submit:hover{
				background-color: rgba(241, 144, 29,0.8);
			}
			.ocultar {display: none;
			}
		}
		.popup.active{opacity: 1;
			transform: scale(1);}

    }
    	@media (min-width: 992px){
		grid-template-columns:65% 35%;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav"
		"main aside"
		"footer footer";
		

		#desplegables {
			background-image: url(../img/fondocarro.jpg);
			background-size: cover;
			min-height: 500px;
			align-items: stretch;
			.producto{@include d-flex (row, center, center);
				width: 100%;
								
			};

			.imgProducto{width: 218px;
				height: 200px}
			.mas:hover{transform: $scale;
				cursor: pointer;
			}
		}
		#aside {
			grid-area: aside;
			z-index: 1;
			div {
				overflow-y: scroll;
				position: fixed;
       			left: 65%;
       			top: 125px;
       			min-height: 500px;
				max-height: 700px ;
				background-color: map-get($map:$paleta, $key:"white");
				box-sizing: border-box;
				width: 35vw;
				h4 {
					font-weight: $bold;
					text-align: center;
					width: 100%;
					box-sizing: border-box
				}			
			}
        }
		.popup{width: 500px;}
		
	}
}