
#eventos{
	@media (min-width: 320px){
		display: grid;
		grid-template-columns:1fr ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav"
		"main"
		"aside"
		"footer";
		.navegacion {grid-area: nav
		}
		#aside {grid-area: aside;
			div img {width: 100%;
			}
		}	
		.eventos {grid-area: main;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: 4% 0;
			div p {padding: 2%;
			}
			form fieldset {margin-top: 2%;
				text-align: left;
				padding: 6px;
				box-sizing: border-box;
				line-height: 1.8;
				input, textarea, select, option {color: $black;
				}
				input, select, option:hover {cursor: pointer;
				}
				#botones__form	{text-align: center;	
					.boton__form {color: $white;
						width: 35%;
						margin:0 4%;
						border-radius: 5px;
						background-image: linear-gradient($secondaryColor,$black);
						border: 0;
						&:hover {background-image: linear-gradient($black,$secondaryColor);
							cursor: pointer;
						}						
					}
				}	
			}
		}
  	}
  	@media (min-width: 1200px) {
  		grid-template-columns: 50% 50% ;
		grid-template-rows: auto;
		grid-template-areas: 
		"nav nav"
		"main aside"
		"footer footer";
		.eventos {margin: 0;
		 	h2 {font-size: 50px;
			}
			div p {padding: 0.5%;
			}
		}
	}
}
