@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

//fonts
$mainFont:'Roboto', sans-serif;
$secondaryFont:'Nunito', sans-serif;

//text sizing
$textSm: 14px;
$textMd: 18px;
$textLg: 45px;
$textXl: 60px;


//font weight

$bold:500;
$regular:400;
$light:300;

