footer {
	grid-area: footer;
	background-color: map-get($map:$paleta, $key:"black");
	@include d-flex (column, space-evenly, center);
   	flex-wrap: nowrap;
	font-size: $textSm;
	padding-top: 10px;
	.direcciones {
		text-align: center; margin-top: 2%;
	}
	.emails {
		text-align: center ; margin: 5% 0; 
		#escribinos {margin-bottom: 2%;}
		}
	}
	.iconos {width: 100%;
		@include d-flex (row, space-evenly, center); 
		margin-top: 10px;
		text-align: center;
	}
	@media (min-width: 1200px){
	footer {flex-direction: row;
	justify-content: space-between;
	font-size: $textMd;
	padding-top: 0px;		
		.direcciones {text-align: left;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			flex-grow: 0.3;
			padding-left: 15px;
			line-height: 0.8;
		}
		.emails {	display: flex ;
			flex-direction: column;
			margin-top: 50px;
			margin-bottom: 0;
			margin-left: 44px;
			box-sizing: border-box;
			flex-grow: 2;	
		}
		.iconos {	
			width: auto;
			margin-bottom: 0;
			align-items: center;
			box-sizing: border-box;
			flex-grow: 1.2;
		}
	}	
}


