.locales {
	@media (min-width: 320px){
		background-image: url("../img/local3.webp");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		@include d-flex (column, center, center);
		text-align: center;
		div {margin: 4% 0;
		line-height:2em 
		}
		h2, ul li {margin-bottom: 2%;
					list-style: none;
		}	
		div iframe {width: 280px; 
				height: 300px;
				border: 0px;
		}
	}
	@media (min-width: 1200px){
		@include d-flex (row,space-evenly, center);
		flex-wrap:wrap;
		#localesTitulo {width: 100vw;
			margin: 30px auto;
		}
		div iframe {width: 400px; 
				height: 300px;
				border: 0px;
		}
	}	
}


