<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error 404 - Pagina no encontrada</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body class="bg-grey error">
		<div class="texto">
			<h1> Error 404 - Pagina no encontrada!</h1>
			<h2>Este pez sigue en el agua, aun no lo hemos atrapado... </h2>
		</div>
		<div class="enlace boton">
			<a href="../index.html">Regresar a Sushi Lin</a>
		</div>
		
		
<script src="../js/bootstrap.min.js"></script>
</body>
</html>

